<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757395929934-uvdiepupd2176l1eko1chnnad1ep23il.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757395929934-uvdiepupd2176l1eko1chnnad1ep23il</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>757395929934-m3cutlkihi57tgqu50j84a15600ddgdf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGjDURNWw5229Iss7B8PdtpE2xo4c3N5k</string>
	<key>GCM_SENDER_ID</key>
	<string>757395929934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blueastral.cubesnack</string>
	<key>PROJECT_ID</key>
	<string>cubesnack-1611124943460</string>
	<key>STORAGE_BUCKET</key>
	<string>cubesnack-1611124943460.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757395929934:ios:a31b13ec0106253f5efc1f</string>
</dict>
</plist>